<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBillet" />
                <binding name="BasicHttpsBinding_IBillet">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://billetservice.azurewebsites.net/Billet.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBillet"
                contract="BilletService.IBillet" name="BasicHttpBinding_IBillet" />
            <endpoint address="https://billetservice.azurewebsites.net/Billet.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IBillet"
                contract="BilletService.IBillet" name="BasicHttpsBinding_IBillet" />
        </client>
    </system.serviceModel>
</configuration>